body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content-wrapper {
    display: flex; 
    align-items: flex-start; 
    width: 600px; 
    max-width: 90%; 
}

.image-area {
    width: 200px;
    height: 350px; 
    
    
    box-sizing: border-box;
    
    position: relative;
    overflow: hidden;
}

.image-area img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    background-color: #000033;
}

.links-area {
    margin-left: 30px; 
    
    display: flex;
    flex-direction: column;
    height: 350px; 
    justify-content: space-between; 
}

.main-links {
    display: flex;
    flex-direction: column;
}

.main-links a, .back-link {
    text-decoration: none;
    color: #000000;
    font-size: 1.4em; 
    line-height: 1.8; 
    margin: 0;
    padding: 0;
}

.back-link {
    font-size: 1.2em;
    align-self: flex-start;
}

@media (max-width: 600px) {
    .content-wrapper {
        flex-direction: column;
        align-items: center;
        width: 95%;
    }
    
    .links-area {
        height: auto;
        margin-left: 0;
        margin-top: 20px;
        align-items: center;
    }
}